body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
}
header {
    font-family: "Sofia", sans-serif; 
}
h1  {
    font-family: "Sofia", sans-serif;
    color: rgb(8, 0, 0);
    text-align: center
}
h2  {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(243, 12, 12);
    text-align: center
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
button {
    background-color: limegreen;
    color: black;
}
img {
    width: 500px;
    height: 500px;
    margin-left: 75px;
    margin-right: 100px;
    border: #bbb;

}
article {
    float: left;
    width: 33%;
    align-items: center;
}
footer {
    margin-top: 100px;
}
